.crystalScroll{
    SCROLLBAR-FACE-COLOR:#FFFFFF;
    SCROLLBAR-SHADOW-COLOR:#FFFFFF;
    SCROLLBAR-3DLIGHT-COLOR:#FFFFFF;
    SCROLLBAR-DARKSHADOW-COLOR:#FFFFFF;
}

.queryTableButton {
	background-color: #eaf5ff;
	border: 1px solid #5287b8;
	color: #0c4876;
	font-size: 12px;
}

.style12 {
	border: 1px solid #166490;
	background-image:url('/images/eam_button/top2_03.jpg');
		background-repeat:repeat-x;

}
.style22 {
		background-image:url('/images/eam_images/nav_02.jpg');	background-repeat:repeat-x;

}

.top{
	border-style: solid;
	border-width: 1px;
	background-color: #eaf5ff;
	border-color: #5287b8;
}
.queryTable {
	border: 1px solid #5287B8;
}
.queryTable_lable {
	font-size: 12px;
	text-align: right;
    vertical-align:middle;
}
.input_style1 {
	border: 1px solid #5287B8;
    width:100%
}
.input_style2{
    background-color:#cfe0e5; 
    border:1px solid #2769a7;
}
.input_style3 {
	border: 0px solid #5287B8;
}
.inputNoEmpty {	
	background-color: #ffff99;
	border: 1px solid #5287B8;
	font-size: 12px;
}
.newStyle1 {
	line-height: 20px;
}
.style4 {
	color: #FF0000;
}
.style5 {
	color: #166490;
}
.style6 {
	color: #2769A7;
}
.style23 {
	border-width: 0px;
}
.style24 {
	font-size: 12px;
}
.style25 {
	font-size: 12px;
	color: #0C4876;
}
.style26 {
	color: #0C4876;
}
.style27 {
	border-style: none none none solid;
	border-width: 1px;
	border-color: #0e5088;
	font-size: 12px;
	color: #EAF5FF;
	text-align: center;
}
.style28 {
	color: #EAF5FF;
}
.style30 {
	border-style: none none solid solid;
	border-width: 1px;
	border-color: #5594c6;
	font-size: 12px;
	text-align: center;
}
.style31 {
	border-color: #FF00FF;
}
.style32 {
	font-size: 12px;
	text-align: right;
	color: #2769A7;
}
.style34 {
	text-align: left;
	font-size: 12px;
	color: #2769A7;
}
.style35 {
	text-align: center;
}
.select_style1 {
    width:100%;
    border:1px solid #2769a7;
}

.selectNoEmpty {
    width:100%;
    background-color:#FFFF99;
    border:1px solid #2769a7;
}

.eamHeaderTable {
    background-image: url( '/images/eam_images/nav_02.jpg' );
    color: azure;
}
.eamHeaderTable tr td{
    border-style: none none none solid;
    border-width: 1px;
    border-color: #0e5088;
    font-size: 12px;
    color: #EAF5FF;
    text-align: center;
}
.eamLineTable {
    color: azure;
}
.eamDbHeaderTable {
    background-image: url( '/images/eam_images/nav_db_header.jpg' );
    background-repeat:repeat;
    color: azure;
}
.eamDbHeaderTr {
    background-image: url( '/images/eam_images/nav_db_header_tr.jpg' );
    background-repeat:repeat;
    color: azure;
}

.header-inner{
	float:left;
	padding-right:20px;
	margin-bottom:-1px;
}
