.BackgroundContainerTitle .Title{font-weight:bold;font-size:120%;line-height:105%;}
.Title{line-height:110%;}
.cellstyle, .whiteBody{padding:8px;}
table, td, .pm0{margin:0px;padding:0px;}
a{text-decoration:none;}
a:hover{text-decoration:underline;}
.helptitle{font-size:130%;font-weight:bold;}
.xsmallFont{font-size:75%;}
.smallFont{font-size:80%;}
.fixedTable{table-layout:fixed;}
.ellipse{text-overflow:ellipsis;overflow:hidden;}
.midbutton{font-weight:bold;color:#ffffff;font-size:12px;}
.midbuttonbg a:hover{text-decoration:none;}
.bold, strong{font-weight:bold;}
input.button{padding:0px 4px;}
.sep, .graysep{font-size:11px;}
hr{height:1px;}
.subnav tr td{padding:0px 8px;}
.bluebox{font-size:120%;}
.beNormalTab, .beborderleft, .beSelectedTab, .bePreviewSelectedTab, .beBlogNormalTab{font-size:100%;}
.shdrbg{width:779px;}
.red{color:Red;}
.AllowListBuddyList{width:340px;text-overflow:ellipsis;white-space:nowrap;overflow:auto;overflow-x:hidden;overflow-y:scroll;height:190px;}
.beRTEDL, #previewbox{font-size:100%;}
.bold, a.entryttl{font-weight:bold;}
.searchtitle{padding-bottom:3px;font-weight:bold;}
a.belink, a.belink:hover{text-decoration:none;font-weight:bold;cursor:pointer;}
.Part{cursor:pointer;font-weight:bold;}
.editBox{height:17px;font-family:MS Yahei,Simsun,Verana,Tahoma,Helvetica,Sans-Serif;font-size:11px;width:180px;}
textarea.textEditBox{font-family:MS Yahei,Simsun,Verana,Tahoma,Helvetica,Sans-Serif;font-size:11px;}
.DetailSectionHeader{font-weight:bold;}
.italic{font-style:italic;}
.ListBox{background-color:#FFFFFF;color:#000000;font-size:11px;font-family:MS Yahei,Simsun,Verana,Tahoma;}
.ListBoxSelected{background-color:#FEF79F;font-size:11px;font-family:MS Yahei,Simsun,Verana,Tahoma;}
.MontageHoverTileBorder{background-color:#FFFFFF;}
.imageBorder{border:#000;}
.imageShadow{background-color:#888888;}
.photoFilmstrip{border:solid #888;background-color:Transparent;}
.photoFilmstripHighlightBorder{background-color:#FF8C00;}
.photoFilmstripNonHighlightBorder{background-color:#FFFFFF;}
.favoriteSearch, .favoriteSearchFocus{font-family:MS Yahei,Simsun,Verana,Tahoma;font-size:12px;}
.ControlTable{table-layout:fixed;}
.XLargeContactControl .ControlTable{border:0px;width:132px;}
.XLargeContactControl .FirstRow{height:98px;width:132px;}
.XLargeContactControl .ImageCell{width:98px;}
.XLargeContactControl .DisplayImage{border:1px;}
.XLargeContactControl .IconCell{width:18px;}
.XLargeContactControl .DisplayNameRow{width:116px;height:15px;}
.XLargeContactControl .DisplayNameCell{height:15px;width:116px;}
.XLargeContactControl .DisplayNameSpan{font-family:MS Yahei,Simsun,Verana,Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;font-size:11pt;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;width:116px;}
.XLargeContactControl .MarginCell{width:8px;}
.XLargeContactControl .HeaderMarginCell{height:8px;width:8px;}
.XLargeContactControl .HeaderIconCell{height:8px;width:18px;}
.XLargeContactControl .HeaderImageCell{height:8px;width:98px;}
.XLargeContactControl .MarginRow{height:8px;width:132px;}
.LargeContactControl .ControlTable{border:0px;width:98px;}
.LargeContactControl .FirstRow{height:65px;width:98px;}
.LargeContactControl .ImageCell{width:65px;}
.LargeContactControl .DisplayImage{border:1px;}
.LargeContactControl .IconCell{width:17px;}
.LargeContactControl .DisplayNameRow{width:98px;height:22px;}
.LargeContactControl .DisplayNameCell{height:15px;width:82px;}
.LargeContactControl .DisplayNameSpan{font-family:MS Yahei,Simsun,Verana,Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;font-size:11pt;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;width:82px;}
.LargeContactControl .MarginCell{width:8px;}
.LargeContactControl .HeaderMarginCell{height:8px;width:8px;}
.LargeContactControl .HeaderIconCell{height:8px;width:17px;}
.LargeContactControl .HeaderImageCell{height:8px;width:65px;}
.LargeContactControl .MarginRow{height:8px;width:98px;}
.MediumContactControl .ControlTable{border:0px;width:78px;}
.MediumContactControl .FirstRow{height:34px;width:78px;}
.MediumContactControl .ImageCell{width:34px;}
.MediumContactControl .DisplayImage{border:1px;}
.MediumContactControl .IconCell{width:16px;}
.MediumContactControl .DisplayNameRow{width:78px;height:15px;}
.MediumContactControl .DisplayNameCell{height:15px;width:62px;}
.MediumContactControl .DisplayNameSpan{font-family:MS Yahei,Simsun,Verana,Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;font-size:11pt;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;width:62px;}
.MediumContactControl .MarginCell{width:8px;}
.MediumContactControl .HeaderMarginCell{height:8px;width:8px;}
.MediumContactControl .HeaderIconCell{height:8px;width:16px;}
.MediumContactControl .HeaderImageCell{height:8px;width:34px;}
.MediumContactControl .MarginRow{height:8px;width:78px;}
.SmallContactControl .ControlTable{border:0px;width:60px;}
.SmallContactControl .FirstRow{height:36px;width:60px;}
.SmallContactControl .ImageCell{width:36px;}
.SmallContactControl .DisplayImage{border:1px;}
.SmallContactControl .IconCell{width:12px;}
.SmallContactControl .DisplayNameRow{width:98px;height:15px;}
.SmallContactControl .DisplayNameCell{height:15px;width:82px;}
.SmallContactControl .DisplayNameSpan{font-family:MS Yahei,Simsun,Verana,Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;font-size:11;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;width:82px;}
.SmallContactControl .MarginCell{width:6px;}
.SmallContactControl .HeaderMarginCell{height:6px;width:6px;}
.SmallContactControl .HeaderIconCell{height:6px;width:12px;}
.SmallContactControl .HeaderImageCell{height:6px;width:36px;}
.SmallContactControl .MarginRow{height:6px;width:60px;}
.XSmallContactControl .ControlTable{border:0px;width:51px;}
.XSmallContactControl .FirstRow{height:27px;width:51px;}
.XSmallContactControl .ImageCell{width:27px;}
.XSmallContactControl .DisplayImage{border:1px;}
.XSmallContactControl .IconCell{width:12px;}
.XSmallContactControl .DisplayNameRow{width:98px;height:15px;}
.XSmallContactControl .DisplayNameCell{height:15px;width:82px;}
.XSmallContactControl .DisplayNameSpan{font-family:MS Yahei,Simsun,Verana,Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;font-size:11;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;width:82px;}
.XSmallContactControl .MarginCell{width:6px;}
.XSmallContactControl .HeaderMarginCell{height:6px;width:6px;}
.XSmallContactControl .HeaderIconCell{height:6px;width:12px;}
.XSmallContactControl .HeaderImageCell{height:6px;width:27px;}
.XSmallContactControl .MarginRow{height:6px;width:51px;}
.XXSmallContactControl .ControlTable{border:0px;width:44px;}
.XXSmallContactControl .FirstRow{height:20px;width:44px;}
.XXSmallContactControl .ImageCell{width:20px;}
.XXSmallContactControl .DisplayImage{border:1px;}
.XXSmallContactControl .IconCell{width:12px;}
.XXSmallContactControl .DisplayNameRow{width:98px;height:15px;}
.XXSmallContactControl .DisplayNameCell{height:15px;width:82px;}
.XXSmallContactControl .DisplayNameSpan{font-family:MS Yahei,Simsun,Verana,Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;font-size:11;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;width:82px;}
.XXSmallContactControl .MarginCell{width:6px;}
.XXSmallContactControl .HeaderMarginCell{height:6px;width:6px;}
.XXSmallContactControl .HeaderIconCell{height:6px;width:12px;}
.XXSmallContactControl .HeaderImageCell{height:6px;width:20px;}
.XXSmallContactControl .MarginRow{height:6px;width:44px;}
.helpLink:link, .helpLink:visited, .helpLink:active{text-decoration:none;}
.helpLink:hover{text-decoration:underline;}
textarea.ErrorPage{width:500px;height:200px;overflow:auto;}
td.ErrorPageSpacer{height:10px;}
.divAlbumTitle{padding:0px 0px 3px 5px;font-size:130%;width:100%;}
.titletagline_settings tr td{padding:0px;}
.Groups_Popover_Background{position:absolute;width:100%;height:100%;top:0;left:0;background-color:#ffffff;filter:alpha(opacity=50);opacity:0.5;z-index:100000;}
.LR_InsetContainer{margin:0px 10px;}
.ESLtPanel{vertical-align:top;width:800px;}
.ESRtPanel{vertical-align:top;width:300px;}
.ESHeadingTxt{padding-left:10px;}
.ESCol1{padding-top:3px;width:100px;height:24px;text-align:right;}
.ESCol2{padding:0px 0px 5px 10px;width:580px;vertical-align:top;}
#esn{width:250px;}
#escn{width:250px;}
#escp{width:250px;}
.eswg{width:350px;color:Gray;}
.eswb{width:350px;}
.EDesc{height:170px;width:700px;}
.ESPole{cursor:hand;}
.ESPoleOptions{margin:5px 0px;display:none;}
.DTDate{margin-right:7px;width:100px;}
.DTTime{width:70px;}
.ESCol1{padding-right:5px;width:100px;vertical-align:top;}
.ESCol2{width:750px;vertical-align:top;}
.groupSpaceTagsEditDefaultTable{padding-top:10px;}
.groupSpaceTagsEditCheckbox{padding-left:8px;}
