<style type="text/css" >
#container
{//*设定包含列表的div的Box属性*//
width: 98%;
padding: 5px;
border: 1px solid #ccc;
background: #fff;
}

#beautytab
{//*设定项目列表Ul元素的属性，其中background用来设定连贯于各个列表项目下的横线，否则它们会彼此分离，用了一张事先准备好的图片，让它放置在底部，水平重复*//
height: 10px;
margin: 0;
padding-left: 10px;
background: url('/images/tab/bottom.gif' ) repeat-x bottom;
}

#beautytab li
{//*设定各个列表项目的属性，display属性设定取消项目间的分行，list-style-type设定取消列表项目前的符号*//
margin: 0;
padding: 0;
display: inline;
list-style-type: none;
}

#beautytab a:link, #beautytab a:visited
{//*设定标签卡中超链接的文字的属性*//
float: left;
background: #f3f3f3;
font-size: 12px;
line-height: 14px;
font-weight: bold;
padding: 2px 10px 2px 10px;
margin-right: 4px;
border: 1px solid #ccc;
text-decoration: none;
color: #666;
}

#beautytab a:link.selectedtab, #beautytab a:visited.selectedtab
{//*设定当前被选中的标签卡中超链接的属性*//
border-bottom: 1px solid #fff;
background: #fff;
color: #000;
}

#beautytab a:link.unselectedtab, #beautytab a:visited.unselectedtab
{//*设定当前被选中的标签卡中超链接的属性*//
border-bottom: 1px solid #fff;
background: #fff;
color: #000;
}

#beautytab a:hover
{//*设定超链接鼠标浮动效果*//
background: #fff;
}


//*============================*//
body
{
 margin: 6pt;
}

td
{
 font-family: '宋体';
 font-size: 12px;
 color: #000000;
}

.bd
{
 FILTER: progid:DXImageTransform.Microsoft.Shadow(direction=135,color=#999999,strength=3);
}
.tleft
{

}
.tright
{

}
.ttop
{

}
.ttop_over
{

}
.tbottom
{

}
.tbottom2
{
 
}
.tbottom3
{

 border-bottom: 1px #000000 solid;
}
.getfouce
{
 cursor: default;
 text-indent: 6px;
 font-size: 14px;
 background-color: #ffffff;
 background-image: url('/images/tab/main_bg.gif');
 color:#000000;
 FONT-FAMILY: '宋体';
 font-weight:bold
}
.lostfouce
{
 text-indent: 6px;
 font-size: 14px;
 background-image: url('/images/tab/listbg.gif' );
 border-bottom: 1px #000000 solid;
 cursor: hand;
 color:#555555;
 FONT-FAMILY: '宋体';
 padding-top:4px
}
.lostfouce_over
{
 text-indent: 6px;
 font-size: 14px;
 cursor: hand;
 background-image: url('/listbg.jpg');
 border-bottom: 1px #000000 solid;
}



</style>
