<style type=text/css>
A:link {
	COLOR: #3366cc; TEXT-DECORATION: none
}
A:active {
	COLOR: #3366cc; TEXT-DECORATION: none
}
A:visited {
	COLOR: #3366cc; TEXT-DECORATION: none
}
A:hover {
	COLOR: red; TEXT-DECORATION: underline overline
}
.button {
	BORDER-RIGHT: black 0px solid; BORDER-TOP: #ffffff 0px solid; FONT-WEIGHT: bold; FONT-SIZE: 9pt; LEFT: 0px; BORDER-LEFT: #ffffff 0px solid; WIDTH: 180px; CURSOR: default; COLOR: white; BORDER-BOTTOM: black 0px solid; POSITION: absolute; TOP: 0px; HEIGHT: 24px; BACKGROUND-COLOR: #808080
}
.buttonmouseon {
	BORDER-RIGHT: black 1px solid; BORDER-TOP: #ffffff 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 9pt; LEFT: 0px; BORDER-LEFT: #ffffff 1px solid; WIDTH: 180px; CURSOR: default; COLOR: white; BORDER-BOTTOM: black 1px solid; POSITION: absolute; TOP: 0px; HEIGHT: 24px; BACKGROUND-COLOR: #808080
}
.buttonclicked {
	BORDER-RIGHT: #ffffff 1px solid; BORDER-TOP: black 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 9pt; LEFT: 0px; BORDER-LEFT: black 1px solid; WIDTH: 180px; CURSOR: default; COLOR: white; BORDER-BOTTOM: #ffffff 1px solid; POSITION: absolute; TOP: 0px; HEIGHT: 24px; BACKGROUND-COLOR: #808080
}
#mMid {
	BORDER-TOP: #c6c3c6 1px solid; FONT-SIZE: 1pt; LEFT: 0px; VISIBILITY: visible; WIDTH: 100%; BORDER-BOTTOM: gray 2px solid; POSITION: absolute; TOP: 24px; HEIGHT: 6px; BACKGROUND-COLOR: #d4d0c8
}
#sContent {
	FONT-SIZE: 9pt; Z-INDEX: 1; LEFT: 0px; WIDTH: 100%; POSITION: absolute; TOP: 100px; BACKGROUND-COLOR: white
}
#divList {
	BORDER-RIGHT: gray 1px solid; BORDER-TOP: white 1px solid; FONT-SIZE: 9pt; Z-INDEX: 10; LEFT: 0px; VISIBILITY: hidden; OVERFLOW: hidden; BORDER-LEFT: white 1px solid; WIDTH: 210px; BORDER-BOTTOM: gray 1px solid; POSITION: absolute; TOP: 25px; HEIGHT: 300px
}
#divContent {
	BORDER-RIGHT: #d4d0c8 2px solid; BORDER-TOP: #d4d0c8 2px solid; FONT-SIZE: 9pt; Z-INDEX: 12; LEFT: 0px; BORDER-LEFT: #d4d0c8 2px solid; WIDTH: 100%; CURSOR: default; BORDER-BOTTOM: #d4d0c8 2px solid; POSITION: absolute; TOP: 0px; HEIGHT: 100%; BACKGROUND-COLOR: white
}
#mlTitle {
	BORDER-RIGHT: #c6c3c6 1px solid; BORDER-TOP: white 1px solid; FONT-SIZE: 9pt; LEFT: 0px; OVERFLOW: hidden; BORDER-LEFT: white 1px solid; WIDTH: 100%; CURSOR: default; BORDER-BOTTOM: gray 1px solid; POSITION: absolute; TOP: 0px; HEIGHT: 18px; BACKGROUND-COLOR: #d4d0c8
}
.tdOver {
	COLOR: white; BACKGROUND-COLOR: #000066
}
.tdOut {
	COLOR: black; BACKGROUND-COLOR: white
}
.linka {
	font-size: 12px;
	color:  #660000;
}

.btn {
 BORDER-RIGHT: #7b9ebd 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #7b9ebd 1px solid; PADDING-LEFT: 2px; FONT-SIZE: 12px; FILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#ffffff, EndColorStr=#cecfde); BORDER-LEFT: #7b9ebd 1px solid; CURSOR: hand; COLOR: black; PADDING-TOP: 2px; BORDER-BOTTOM: #7b9ebd 1px solid
}
.btn1_mouseout {
 BORDER-RIGHT: #7EBF4F 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #7EBF4F 1px solid; PADDING-LEFT: 2px; FONT-SIZE: 12px; FILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#ffffff, EndColorStr=#B3D997); BORDER-LEFT: #7EBF4F 1px solid; CURSOR: hand; COLOR: black; PADDING-TOP: 2px; BORDER-BOTTOM: #7EBF4F 1px solid
}
.btn1_mouseover {
 BORDER-RIGHT: #7EBF4F 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #7EBF4F 1px solid; PADDING-LEFT: 2px; FONT-SIZE: 12px; FILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#ffffff, EndColorStr=#CAE4B6); BORDER-LEFT: #7EBF4F 1px solid; CURSOR: hand; COLOR: black; PADDING-TOP: 2px; BORDER-BOTTOM: #7EBF4F 1px solid
}
.btn2 {padding: 2px 4px 0px 4px;font-size:12px;height:23px;background-color:#ece9d8;border-width:1px;}
.btn3_mouseout {
 BORDER-RIGHT: #2C59AA 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #2C59AA 1px solid; PADDING-LEFT: 2px; FONT-SIZE: 12px; FILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#ffffff, EndColorStr=#C3DAF5); BORDER-LEFT: #2C59AA 1px solid; CURSOR: hand; COLOR: black; PADDING-TOP: 2px; BORDER-BOTTOM: #2C59AA 1px solid
}
.btn3_mouseover {
 BORDER-RIGHT: #2C59AA 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #2C59AA 1px solid; PADDING-LEFT: 2px; FONT-SIZE: 12px; FILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#ffffff, EndColorStr=#D7E7FA); BORDER-LEFT: #2C59AA 1px solid; CURSOR: hand; COLOR: black; PADDING-TOP: 2px; BORDER-BOTTOM: #2C59AA 1px solid
}
.btn3_mousedown
{
 BORDER-RIGHT: #FFE400 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #FFE400 1px solid; PADDING-LEFT: 2px; FONT-SIZE: 12px; FILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#ffffff, EndColorStr=#C3DAF5); BORDER-LEFT: #FFE400 1px solid; CURSOR: hand; COLOR: black; PADDING-TOP: 2px; BORDER-BOTTOM: #FFE400 1px solid
}
.btn3_mouseup {
 BORDER-RIGHT: #2C59AA 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #2C59AA 1px solid; PADDING-LEFT: 2px; FONT-SIZE: 12px; FILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#ffffff, EndColorStr=#C3DAF5); BORDER-LEFT: #2C59AA 1px solid; CURSOR: hand; COLOR: black; PADDING-TOP: 2px; BORDER-BOTTOM: #2C59AA 1px solid
}
.btn_2k3 {
 BORDER-RIGHT: #002D96 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #002D96 1px solid; PADDING-LEFT: 2px; FONT-SIZE: 12px; FILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#FFFFFF, EndColorStr=#9DBCEA); BORDER-LEFT: #002D96 1px solid; CURSOR: hand; COLOR: black; PADDING-TOP: 2px; BORDER-BOTTOM: #002D96 1px solid
}
.bt_normal{
 BORDER-COLOR: #AACEF7 #AACEF7 #AACEF7 #AACEF7; BACKGROUND-COLOR: #D5E4F3;  CURSOR: hand; FONT-SIZE:12px; BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid; BORDER-LEFT: 1px solid;    BORDER-BOTTOM: 1px solid;    COLOR: #000000;
}
.tb1{
	BORDER:1px solid;
	CELL-PADDING:2px;
	CELL-SPACING:0px;
	BORDER-COLOR:#666666;	
	border-collapse: separate;
}
</style>
