/* CSS Document */

body{
	margin:0px;
	}
td{
	font-size:12px;}
	
input{
	border:1px solid #999999;
	height:20px;}
	
.copyright{
	font-size:12px;
	color:#ffffff;
	line-height:200%;
	}
	
.nav a{
	color:#ffffff;
	font-size:12px;
	text-decoration:none;
	filter: Glow(Color=#213884, Strength=2); 
	height:13px;
	margin-left:9px;
	}
.nav a:hover{
	color:#ecf0ff;
	}	
.nav{
	background-position:center;
	background-position:bottom;
	background-repeat:no-repeat;}	

	
.tb_top{
	border:1px solid #97A4CB;
	}
	
.lab{
	color:#1B2457;
	}
	
.lab a{
	color:#1B2457;
	text-decoration:none;
	}	
.lab a:hover{
	color:orange;
	text-decoration:none;
	}		
.labb{
	color:#1B2457;
	}
.labnoa a{
	padding-bottom:7px;
	color:#1B2457;
	text-decoration:none;
	}
.labactvie a{
	padding-bottom:7px;
	color:#ffffff;
	text-decoration:none;
	}
.mytable {
	background-color: #D0D7E9;
	border-left:1px solid #ffffff;
	border-top:1px solid #ffffff;
	
}
.STYLE1 {
	color: #565656;
	font-size: 12px;
}
.STYLE1 a{
	color: #565656;
	font-size: 12px;
	text-decoration:none;
}
.STYLE1 a:hover{
	color: orange;
	font-size: 12px;
}
.STYLE2 {color: #FF0000}
.state{
	FILTER:DropShadow(Color=#cccccc,OffX=1,OffY=1,Positive=1);
	}
.subnavT{
	font-size:12px;
	color:#e9ebf3;
	background-image:url(../images/subnav_bg.gif);
	}
.Tsub{
	font-size:12px;
	color:#e9ebf3;
	background-image:url(../images/Tsub_bg.gif);
	}