BODY {
	margin: 0px;
    overflow-y:hidden;
    overflow-x:hidden;
    FONT-FACE: Courier New;
    FONT-SIZE: 12px;
    /*BORDER-RIGHT: 0 PX;
    BORDER-TOP: 0 PX;
    BORDER-LEFT: 0 PX;
    BORDER-BOTTOM: 0 PX;*/
    BACKGROUND-COLOR: #FFFFFF;
}

form{
	padding:0
}


TD, SELECT {
    FONT-FACE: Courier New;
    FONT-SIZE: 12px;
    word-break:break-all;
}

TEXTAREA, INPUT {
    FONT-FAMILY: TAHOMA, VERDANA;
    FONT-SIZE: 12 PX;
    FONT-WEIGHT: NORMAL;
    COLOR: #000000;
    BACKGROUND-COLOR: #FFFFFF;
}

TABLE {
    BORDER-COLLAPSE: COLLAPSE;
}

IMG {
    behavior: url( '/WebLibary/css/objectEffect.htc' );
    CURSOR: HAND;
}

A:VISITED {
    FONT-SIZE: 12px;
    COLOR: #333333;
    TEXT-DECORATION: NONE;
}

A:HOVER {
    FONT-SIZE: 12px;
    COLOR: #6600FF;
    TEXT-DECORATION: UNDERLINE;
}

A:LINK {
    FONT-SIZE: 12px;
    COLOR: #222222;
    TEXT-DECORATION: NONE;
}

A.MUFONT:VISITED {
    FONT-SIZE: 12px;
    COLOR: #FFFFFF;
    TEXT-DECORATION: UNDERLINE;
}

A.MUFONT:HOVER {
    FONT-SIZE: 12px;
    COLOR: #FFFFFF;
    TEXT-DECORATION: NONE;
    POSITION: RELATIVE;
    TOP: 1 PX;
    LEFT: 1 PX
}

A.MUFONT:LINK {
    FONT-SIZE: 12px;
    COLOR: #FFFFFF;
    TEXT-DECORATION: UNDERLINE;
}

DIV, SPAN {
    white-space: nowrap;
}

.INPUT2 {
    BACKGROUND-COLOR: #FAFAFA;
    BORDER: 1 PX SOLID #336699;
    FONT-SIZE: 12px;
    COLOR: #465F87;
    TEXT-DECORATION: NONE;
    HEIGHT: 20 PX;

}

.readonlyInput {
    BACKGROUND-COLOR: #EFEFEF
}

.noEmptyInput {
    BACKGROUND-COLOR: #FFFF99
}

.hyperLinkStyle {
    text-decoration: underline;
    font-style: oblique;
    color: blue;
}

.headerTable {
    background-image: url( '/images/eam_images/nav_02.jpg' );
    color: azure;
    height:22px;
}

.headerTable4 {
    background-image: url( '/images/eam_images/nav_04.jpg' );
    color: azure;
}

.headCheckbox{
    height:20px;margin:0;padding:0;background-image:url('/images/bg_02.gif');
}

tr.dataTR {
    behavior: url( '/WebLibary/css/dataTR.htc' );
    cursor:pointer;
    height:23px;
}

tr.noHandTR {
    behavior: url( '/WebLibary/css/dataTR.htc' );
    height:22px;
}

.headerTR {
    background-image: url( '/images/bg_02.gif' );
    height:23px;
    color: azure;
}

.headerTR2 {
    BACKGROUND-COLOR: #1681BF;
    background-repeat: repeat;
    height:23px;
    color: azure;
}

.linka {
    font-size: 12px;
    color: blue;
}
a.linka:link { COLOR: blue; TEXT-DECORATION: none}
a.linka:visited { COLOR: blue; TEXT-DECORATION: none}
a.linka:hover { COLOR: red;  TEXT-DECORATION: underline}
a.linka:active { COLOR: blue; TEXT-DECORATION: underline}

.crystalScroll{
    SCROLLBAR-FACE-COLOR:#FFFFFF;
    SCROLLBAR-SHADOW-COLOR:#FFFFFF;
    SCROLLBAR-3DLIGHT-COLOR:#FFFFFF;
    SCROLLBAR-DARKSHADOW-COLOR:#FFFFFF;
}
.noborderInput{
    border-left:none;
    border-top:none;
    border-right:none;
    border-bottom-color:blue;
    border-bottom-width:1px;
}

.noneborderInput{
    border:none;
}

.lightyellowBg{
    background-color:#ffffcc
}
.noborderYellow{
    border:none;
    background-color:#ffffcc
}
.noborderGray {
    border:none;
    background-color:#efefef
}
.blueborder{
    border:solid 1px;
    border-color:#9FD6FF;
}
.blueborderYellow{
    border:solid 1px;
    border-color:#9FD6FF;
    background-color:#ffffcc;
}
.blueborderGray{
    border:solid 1px;
    border-color:#9FD6FF;
    background-color:#efefef;
}
.queryHeadBg{
    background-color:#efefef;
}
.detailHeader{
    background-color:#F2F9FF;
    width:100%;
}
.riqi {
    font-size: 12px;
    font-style: normal;
    line-height: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: capitalize;
    color: #FFFFFF;
    text-decoration: none;
}

.beijing {
    background-color: #F1F8FE;
    background-image: url( '/images/index-6.jpg' );
    background-repeat: repeat-x;
    background-position: top;
}

.heizi {
    font-size: 12px;
    font-style: normal;
    line-height: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: capitalize;
    color: #000000;
    text-decoration: none;
    letter-spacing: 1px;
}

.heizi2 {
    font-size: 12px;
    font-style: normal;
    line-height: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: capitalize;
    color: #000000;
    text-decoration: none;
}

.hongzi {
    font-size: 12px;
    font-style: normal;
    line-height: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: capitalize;
    color: #CC0000;
    text-decoration: none;
}

.login {
    font-size: 12px;
    font-style: normal;
    line-height: 18px;
    font-weight: normal;
    font-variant: normal;
    color: #3964C6;
    text-decoration: none;
    height: 21px;
    border: 0px solid #72A4DB;
    background-image: url( '/images/login-5.jpg' );
    background-repeat: repeat-x;
    background-position: center;
    width: auto;
}

.yiji {
    font-size: 13px;
    font-style: normal;
    line-height: normal;
    font-weight: bold;
    font-variant: normal;
    color: #000000;
    text-decoration: none;
}

.top-1 {
    font-size: 13px;
    font-style: normal;
    line-height: normal;
    font-weight: bold;
    color: #000000;
    text-decoration: none;
    background-image: url( '/images/top-2.jpg' );
    background-repeat: repeat-x;
    height: 23px;
    margin-top: 4px;
    border-left-width: 1px;
    border-right-style: none;
    border-left-style: solid;
}

.shurukuang {
    font-size: 12px;
    font-style: normal;
    line-height: normal;
    font-weight: normal;
    font-variant: normal;
    color: #000000;
    text-decoration: none;
    height: 13px;
    border: 1px solid #0600F6;
    background-color: #DBF6FF;
}

.lancuzi {
    font-size: 13px;
    font-style: normal;
    line-height: normal;
    font-weight: bold;
    font-variant: normal;
    text-transform: capitalize;
    color: #19446E;
    text-decoration: none;
    letter-spacing: 1px;
}

.shurukuang2 {
    font-size: 12px;
    font-style: normal;
    line-height: normal;
    font-weight: normal;
    font-variant: normal;
    color: #000000;
    text-decoration: none;
    height: 13px;
    border: 1px solid #6A91B8;
    background-color: #DFF6FC;
}

.top-2 {
    font-size: 13px;
    font-style: normal;
    line-height: normal;
    font-weight: bold;
    color: #000000;
    text-decoration: none;
    background-image: url( '/images/top-3.jpg' );
    background-repeat: repeat-x;
    height: 23px;
    margin-top: 4px;
    border-right-width: 1px;
    border-left-width: 1px;
    border-right-style: solid;
    border-left-style: solid;
    border-right-color: #333333;
    border-left-color: #333333;
}
.forPrint {
    border-style:dashed
}

.resizeDivClass{
    behavior: url( '/WebLibary/css/headTD.htc' );
    text-align:right;
    line-height:100%;
    width:1px;
    margin:0px 0px 0px 0px;
    border:0px;
    float:right;
    cursor:e-resize;
}

