.but_login{width:64px;
	  height:23px;
	  float:none;
	  font-family: "宋体";
	  font-size: 12px;
	  font-weight: bold;
	  color: #354f70;
	  text-align:center;
	  padding:0;
	  margin:0; 
	  border:0;
      background:url('/cms_images/but_login.gif')
}

.td_1{
	font-size:12px;
	list-style:none;
	font-weight:normal;
	color:#474747;
	font-family: "宋体";
	background-color:#FFFFFF;
}

.td_2{
	font-size:12px;
	list-style:none;
	font-weight:normal;
	color:#474747;
	font-family: "宋体";
}

.table_1{
   border:0;
   padding:0;
   background-color:#c9c9c9;
   spacing:1;
}

/*导航按钮定义*/
.but_nal{
	width:72px;
	height:26px;
	float:none;
	text-align:center;
	background-image: url(/cms_images/nav_bg.gif);
	background-repeat: no-repeat;
}
.but_nal1{
	text-align:center;
    font-weight: bold;
	color: #FFFFFF;
    cursor:pointer;
	/*background-image: url(/cms_images/nav_bg.gif);*/
	/*background-repeat: no-repeat;*/
}
.but_over{
	width:72px;
	height:26px;
	float:none;
	text-align:center;
    color: #000000;
	background-image: url(/cms_images/nav_bg1.gif);
	background-repeat: no-repeat;
}
.but_over1{
	width:72px;
	height:26px;
	float:none;
	text-align:center;
    font-weight: bold;
    cursor:pointer;
	background-image: url(/cms_images/nmcmcc_menu_bg_focus.gif);
	background-repeat: repeat;
}
/*文字定义*/
.blue {
	font-family: "宋体";
	font-size: 12px;
	font-weight: bold;
	color: #296fa0;
	text-decoration: none;
}.write {
	font-family: "宋体";
	font-size: 12px;
	color: #FFFFFF;
	text-decoration: none;
}
.text_gray3{
	font-family: "宋体";	 
	font-size: 12px; 
	color: #333333;
	cursor:hand;
}
.text_gray4{
	font-family:"宋体";
	font-size:12px;
	color:#5f5f5f;
	font-weight:bold;
	cursor:hand;
}
.red{
	font-family: "宋体";
	font-size: 12px;
	font-weight:normal;
	color: #ff0000;
	text-decoration: none;
}

/*表单相关定义*/
.input_1{
	width:120px;
	border: 1px solid #a6c4eb;
	padding:2px;
	background-color: #FFFFFF; /*border:#6dbae2 solid 1px;*/
}

.input_2{
	width:80px;
	border: 1px solid #a6c4eb;
	padding:4px;
	height:22px;
	background-color: #FFFFFF; /*border:#6dbae2 solid 1px;*/
}
	
.input_3{ 
	width:380px;
	height:20px;
	border: 1px solid #a6c4eb;
	padding:4px;
	background-color: #FFFFFF; /*border:#6dbae2 solid 1px;*/
}

.input_4{ 
	width:420px;
	border: 1px solid #a6c4eb;
	height:22px;
	padding:4px;
	background-color: #FFFFFF; /*border:#6dbae2 solid 1px;*/
}

.input_5{ 
	width:260px;
	border: 1px solid #a6c4eb;
	height:22px;
	padding:4px;
	background-color: #FFFFFF; /*border:#6dbae2 solid 1px;*/
}

.input_6{
	width:180px;
	border: 1px solid #a6c4eb;
	height:22px;
	padding:4px;
	background-color: #FFFFFF; /*border:#6dbae2 solid 1px;*/
}

.input_7{ 
	width:420px;
	border: 1px solid #a6c4eb;
	height:20px;
	padding:4px;
	background-color: #FFFFFF; /*border:#6dbae2 solid 1px;*/
}

.input_8{ 
	border: 1px solid #a6c4eb;
	padding:2px;
	background-color: #FFFFFF; /*border:#6dbae2 solid 1px;*/
}

.input_9{ 
	width:100%;
	border: 1px solid #a6c4eb;
	height:20px;
	padding:4px;
	background-color: #FFFFFF; /*border:#6dbae2 solid 1px;*/
}

.input_10{ 
	width:677px;
	border: 1px solid #a6c4eb;
	height:22px;
	padding:4px;
	background-color: #FFFFFF; /*border:#6dbae2 solid 1px;*/
}

.input_11{ 
	width:260px;
	border: 1px solid #a6c4eb;
	height: 57px;
	padding:4px;
	background-color: #FFFFFF; /*border:#6dbae2 solid 1px;*/
}
.input_12{
	width:350px;
	border: 1px solid #a6c4eb;
	padding:2px;
	background-color: #FFFFFF; /*border:#6dbae2 solid 1px;*/
}

.input_13{
	width:853px;
	border: 1px solid #a6c4eb;
	padding:2px;
	background-color: #FFFFFF; /*border:#6dbae2 solid 1px;*/
}

.input_14{
	width:180px;
	border: 1px solid #a6c4eb;
	height:22px;
	padding:4px;
	background-color: #FFFFFF; /*border:#6dbae2 solid 1px;*/
}

.input_noline{
	border:0px;
	/*background:transparent;*/
}

.input_onlybottom{
    border-left: 0px;
    border-right: 0px;
 	border-top: 0px; 
 	border-bottom: 1 solid black;
}

.but2{width:50px;
	  height:27px;
	  float:none;
	  font-family: "宋体";
	  font-size: 12px;
	  font-weight: bold;
	  color: #296fa0;
	  padding:0;
	  margin:0; 
	  border:0;
	  text-align:center;
      background:url(/cms_images/but2text.gif)
}
.but4{width:64px;
	  height:23px;
	  float:none;
	  padding:0; 
	  margin:0; 
	  border:0;
	  font-family: "宋体";
	  font-size: 12px;
	  font-weight: bold;
	  color: #296fa0;
	  text-align:center;
      background:url('/cms_images/but_login.gif');
}
/*表格相关定义*/
.tr_top{
	background-image:url(/cms_images/table_bg2.jpg);
	background-repeat:repeat-x;
	height:30px;
	border-right-style: none;
	text-align: center;
	vertical-align: middle;
}
.tr_top1{
	background-image:url(/cms_images/table_bg3.jpg);
	background-repeat:repeat-x;
	height:25px;
	border-right-style: none;
	text-align: left;
	vertical-align: middle;
}
.tr_top2{
	height:24px;
	border-right-style: none;
	text-align: left;
	vertical-align: middle;
	background-color: #f5f5f5;
}
.tr_top3{
	height:24px;
	border-right-style: none;
	text-align: center;
	vertical-align: middle;
	background-color: #ffffff;
}
.tr_top4{
	height:24px;
	border-right-style: none;
	text-indent: 8px;
}
.tr_top5{
	border:1px solid #cccccc;
}
.tr_top6{
	background-image:url(/cms_images/table_bg4.jpg);
	background-repeat:repeat-x;
	height:31px;
	font-family:"宋体";
	font-size:12px;
	color:#296fa0;
	font-weight:bold;
	padding-left:10px;
}
.tr_top7{
	border-right:1px solid;
	border-right-color:#c9c9c9;
	font-family:"宋体";
	font-size:12px;
	color:#5f5f5f;
	font-weight:bold;
}
.tr_top8{
	border-left:1px solid #a6c4eb;
	border-bottom:1px solid #a6c4eb;
	border-right:1px solid #a6c4eb;
}
.tr_top9{
	border:1px solid #adc9ed;
}

.td_background{
   background-image:url('/cms_images/table_bg2.jpg');
}

/*标签样式*/
.tab{
	background-image:url(/cms_images/tab-01.jpg);
	background-position:right;
	background-repeat:no-repeat;
	width:7px;
	height:32px;
}
.tab1{
	background-image:url(/cms_images/tab-03.jpg);
	background-repeat:repeat-x;
	font-family:"宋体";
	font-size:12px;
	font-weight:bold;
	color:#296fa0;
	cursor:hand;
}
.tab2{
	background-image:url(/cms_images/tab-02.jpg);
	background-position:left;
	background-repeat:no-repeat;
}

.onlyBottomBorder{
 	border-bottom: 1px solid black;
 	border-left: none;
 	border-right: none;
 	border-top: none;
}

.state{
	color:#232f26;
	float:left;
	filter:Dropshadow(offx=1,offy=0,color=#ffffff) Dropshadow(offx=0,offy=1,color=#ffffff) Dropshadow(offx=-1,offy=0,color=#ffffff) Dropshadow(offx=0,offy=-1,color=#ffffff);
	font-size:14px; 
	font-weight:bold;
}

.captionLeft{
	color:#2b405f;
	float:left;
	filter:Dropshadow(offx=1,offy=0,color=#ffffff) Dropshadow(offx=0,offy=1,color=#ffffff) Dropshadow(offx=-1,offy=0,color=#ffffff) Dropshadow(offx=0,offy=-1,color=#ffffff);
	font-size:14px;
	white-space:nowrap; 
	font-weight:bold;
	text-align:  left;
	height: 26px;
}

.btn {
	BORDER-RIGHT: #7b9ebd 1px solid; 
	PADDING-RIGHT: 2px; 
	BORDER-TOP: #7b9ebd 1px solid; 
	PADDING-LEFT: 2px; 
	FONT-SIZE: 13px; 
	FILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#ffffff, EndColorStr=#cecfde); 
	BORDER-LEFT: #7b9ebd 1px solid; 
	CURSOR: hand; 
	COLOR: black; 
	PADDING-TOP: 2px; 
	BORDER-BOTTOM: #7b9ebd 1px solid
}

.td_view {
	border-bottom-color:#a6c4eb;
    border-top-color:#a6c4eb;
    border-left-color:#a6c4eb;
    border-left-color:#a6c4eb
}

#vendName{word-break:break-all;text-decoration:underline;}
#contractNameDesc{word-break:break-all;text-decoration:underline;}
#moneyDesc{word-break:break-all;text-decoration:underline;}
#usernameProxy_x{word-break:break-all;text-decoration:underline;}
#contractNoProxyDesc{word-break:break-all;text-decoration:underline;}
#subOrgNameDesc{word-break:break-all;text-decoration:underline;}
#deptNameProxyDesc{word-break:break-all;text-decoration:underline;}