A:link {
	FONT-SIZE: 12px; COLOR: #353233; TEXT-DECORATION: none
}
A:visited {
	FONT-SIZE: 12px; COLOR: #353233; TEXT-DECORATION: none
}
A:hover {
	FONT-SIZE: 12px; COLOR: #353233; TEXT-DECORATION: underline
}
A:active {
	FONT-SIZE: 12px; COLOR: #353233; TEXT-DECORATION: none
}
A.bluelink:link {
	FONT-WEIGHT: normal; COLOR: #0005E3; TEXT-DECORATION: none
}
A.bluelink:visited {
	FONT-WEIGHT: normal; COLOR: #0005E3; TEXT-DECORATION: none
}
A.bluelink:active {
	FONT-WEIGHT: normal; COLOR: #0005E3; TEXT-DECORATION: none
}
A.bluelink:hover {
	FONT-WEIGHT: normal; COLOR: #0005E3; TEXT-DECORATION: underline
}
A.MenuFont:link {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffffff; PADDING-TOP: 25px; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: none
}
A.MenuFont:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffffff; PADDING-TOP: 25px; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: none
}
A.MenuFont:active {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffffff; PADDING-TOP: 25px; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: none
}
A.MenuFont:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffffff; PADDING-TOP: 25px; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: none
}
.titleTr {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; LINE-HEIGHT: 210%
}
.contentBoldblack {
	FONT-WEIGHT: bold;
	FONT-SIZE: 12px;
	COLOR: #333333;
	LINE-HEIGHT: 170%;
	background-color: #f2f2f2;

}
.contentBoldRed {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #0e2c8c; LINE-HEIGHT: 150%
}
.BigTitle01 {
	FONT-WEIGHT: bolder; FONT-SIZE: 30px; WORD-SPACING: normal; COLOR: #ff0000; LINE-HEIGHT: 110%; LETTER-SPACING: 0.3em
}
.BigTitle02 {
	FONT-WEIGHT: bolder; FONT-SIZE: 50px; COLOR: #ff0000; LINE-HEIGHT: 120%
}
.LineBox {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; FONT-WEIGHT: normal; FONT-SIZE: 12px; BORDER-LEFT: #cccccc 1px solid; WIDTH: auto; COLOR: #000000; BORDER-BOTTOM: #cccccc 1px solid; HEIGHT: 20px; BACKGROUND-COLOR: #ffffff
}
.tablefont01 {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #000000; LINE-HEIGHT: 150%
}
.button {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; FONT-WEIGHT: normal; FONT-SIZE: 12px; BACKGROUND-IMAGE: url(../images/button2.gif); BORDER-LEFT: medium none; WIDTH: 70px; COLOR: #000000; PADDING-TOP: 5px; BORDER-BOTTOM: medium none; HEIGHT: 24px
}
TR {
	FONT-SIZE: 12px; LINE-HEIGHT: 180%
}
.BigTitle03 {
	FONT-WEIGHT: bolder; FONT-SIZE: 30px; WORD-SPACING: normal; COLOR: #000000; LINE-HEIGHT: 110%; LETTER-SPACING: 0.3em
}
.titleTr02 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffffff; LINE-HEIGHT: normal
}
.titleBlack02 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #666666; TEXT-ALIGN: center
}
.button2 {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; BACKGROUND-IMAGE: url(../images/buttonGo.gif); WIDTH: 20px; COLOR: #000000; HEIGHT: 21px
}
.titleWrite {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffffff
}
.normalLink {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.normalLink:hover {
	TEXT-DECORATION: underline
}
A.normalLink:visited {
	TEXT-DECORATION: none
}
A.normalLink:active {
	TEXT-DECORATION: none
}
.MenuFont1 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #666666; TEXT-DECORATION: none
}
.select1 {
	FONT-SIZE: 12px; WIDTH: 150px
}
.place {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #666666; TEXT-ALIGN: left
}
.BoxLine2 {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; FONT-WEIGHT: normal; FONT-SIZE: 12px; BORDER-LEFT: #cccccc 1px solid; WIDTH: auto; COLOR: #000000; BORDER-BOTTOM: #cccccc 1px solid; HEIGHT: 20px; BACKGROUND-COLOR: #ededed
}
.BigTitle04 {
	FONT-WEIGHT: bolder; FONT-SIZE: 16px; WORD-SPACING: normal; COLOR: #000000; LINE-HEIGHT: 110%; LETTER-SPACING: 0.3em
}
.input1 {
	BORDER-RIGHT: 0px solid; BORDER-TOP: 0px solid; FONT-WEIGHT: normal; FONT-SIZE: 12px; BORDER-LEFT: 0px solid; WIDTH: auto; COLOR: #000000; BORDER-BOTTOM: 0px solid; HEIGHT: auto; BACKGROUND-COLOR: #ffffff
}

.buttonNormal {
	background-image:  url(images/buttonNormal.gif);
	margin: 1px;
	padding: 1px;
	border: 1px solid #868686;}
	

.textarea1 {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; FONT-WEIGHT: normal; FONT-SIZE: 12px; BORDER-LEFT: #cccccc 1px solid; WIDTH: auto; COLOR: #000000; BORDER-BOTTOM: #cccccc 1px solid; HEIGHT: auto; BACKGROUND-COLOR: #ffffff
}
.font1 {
	FONT-SIZE: 12px
}
.BigTitle05 {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; WORD-SPACING: normal; COLOR: #e1e1e1; LINE-HEIGHT: 220%; LETTER-SPACING: 0.3em; TEXT-ALIGN: center
}
.button3 {
	BORDER-RIGHT: 1px outset; BORDER-TOP: 1px outset; FONT-WEIGHT: normal; FONT-SIZE: 12px; BACKGROUND-IMAGE: url(../images/btn_bg.gif); BORDER-LEFT: 1px outset; WIDTH: auto; COLOR: #000000; BORDER-BOTTOM: 1px outset; HEIGHT: 23px; BACKGROUND-COLOR: #efefef
}
.LeftTitle1 {
	PADDING-LEFT: 32px; FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND-IMAGE: url(../images/leftTitleBg.gif); COLOR: #333333; HEIGHT: 27px
}
.RightTitle1 {
	PADDING-LEFT: 35px; FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND-IMAGE: url(../images/RightTitleBg.gif); COLOR: #333333; HEIGHT: 29px
}
.RightTitle2 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #333333; HEIGHT: 23px
}
.MiddleTitle1 {
	PADDING-LEFT: 45px; FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND-IMAGE: url(../images/MiddleTitleBg.gif); COLOR: #333333; HEIGHT: 27px
}
.RightTitle3 {
	PADDING-LEFT: 35px; FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND-IMAGE: url(../images/RightTitleBg2.gif); COLOR: #333333; HEIGHT: 28px
}
.ContentBg1 {
	BACKGROUND-IMAGE: url(../images/linebj.gif); HEIGHT: 25px
}
.MiddleTitle2 {
	PADDING-LEFT: 40px; FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND-IMAGE: url(../images/MiddleTitleBg2.gif); COLOR: #333333; HEIGHT: 38px
}
.LeftTitle2 {
	PADDING-LEFT: 32px; FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND-IMAGE: url(../images/leftTitleBg2.gif); COLOR: #333333; HEIGHT: 27px
}
.unnamed1 {
	BORDER-RIGHT: #cccccc thick groove; BORDER-TOP: #cccccc thick groove; BORDER-LEFT: #cccccc thick groove; BORDER-BOTTOM: #cccccc thick groove
}
.button70 {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; PADDING-LEFT: 11px; FONT-WEIGHT: normal; FONT-SIZE: 12px; BACKGROUND-IMAGE: url(../images/button70.gif); BORDER-LEFT: medium none; WIDTH: 70px; COLOR: #000000; PADDING-TOP: 2px; BORDER-BOTTOM: medium none; HEIGHT: 20px; BACKGROUND-COLOR: #ffffff
}
.button50 {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; PADDING-LEFT: 11px; FONT-WEIGHT: normal; FONT-SIZE: 12px; BACKGROUND-IMAGE: url(../images/button50.gif); BORDER-LEFT: medium none; WIDTH: 50px; COLOR: #000000; PADDING-TOP: 2px; BORDER-BOTTOM: medium none; HEIGHT: 20px; BACKGROUND-COLOR: #ffffff
}
.button24 {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; FONT-WEIGHT: normal; FONT-SIZE: 12px; BACKGROUND-IMAGE: url(../images/buttong0.gif); BORDER-LEFT: medium none; WIDTH: 24px; COLOR: #000000; PADDING-TOP: 2px; BORDER-BOTTOM: medium none; HEIGHT: 23px
}
.titleSub1 {
	BORDER-RIGHT: 1px solid #5E788E;
	BORDER-TOP: 1px solid #619CCB;
	PADDING-LEFT: 5px;
	FONT-WEIGHT: normal;
	FONT-SIZE: 12px;
	BORDER-LEFT: 1px solid #E3EFF8;
	COLOR: #FFFFFF;
	LINE-HEIGHT: 150%;
	BORDER-BOTTOM: 1px solid #5E788E;
	background-image: url(../images/MiddleTitleBg6.gif);



}
.ListLine2 {
	BORDER-RIGHT: 1px solid #C1CDD8;
	PADDING-LEFT: 5px;
	FONT-WEIGHT: normal;
	FONT-SIZE: 12px;
	BORDER-LEFT: 1px solid #ffffff;
	COLOR: #333333;
	LINE-HEIGHT: 170%;
	BORDER-BOTTOM: 1px solid #C1CDD8;



}
.ContentBg2 {
	BORDER-TOP: #999999 1px dashed; HEIGHT: 26px
}
.lineBox2 {
	BORDER-RIGHT: #cccccc 1px solid; FONT-WEIGHT: normal; FONT-SIZE: 12px; BORDER-LEFT: #cccccc 1px solid; WIDTH: auto; COLOR: #000000; BORDER-BOTTOM: #cccccc 1px solid; HEIGHT: auto; BACKGROUND-COLOR: #f6f6f6
}
.button85 {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; PADDING-LEFT: 11px; FONT-WEIGHT: normal; FONT-SIZE: 12px; BACKGROUND-IMAGE: url(../images/button85.gif); BORDER-LEFT: medium none; WIDTH: 85px; COLOR: #000000; PADDING-TOP: 2px; BORDER-BOTTOM: medium none; HEIGHT: 20px; BACKGROUND-COLOR: #ffffff
}
.MiddleTitle3 {
	PADDING-LEFT: 25px; FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000000
}
.MiddleTitle4 {
	PADDING-LEFT: 45px; FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND-IMAGE: url(../images/MiddleTitleBg6.gif); COLOR: #333333; HEIGHT: 27px
}
.LeftTitle3 {
	BORDER-RIGHT: #cccccc 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND-IMAGE: url(../images/MiddleTitleBg6.gif); BORDER-LEFT: #cccccc 1px solid; COLOR: #333333; BORDER-BOTTOM: #cccccc 1px solid
}
.ContentBg3 {
	FONT-WEIGHT: normal; BACKGROUND-IMAGE: url(../images/lineBg2.gif); VERTICAL-ALIGN: middle; HEIGHT: 30px; TEXT-ALIGN: left
}
.button70a {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; PADDING-LEFT: 11px; FONT-WEIGHT: normal; FONT-SIZE: 12px; BACKGROUND-IMAGE: url(../images/button70.gif); BORDER-LEFT: medium none; WIDTH: 70px; COLOR: #000000; PADDING-TOP: 2px; BORDER-BOTTOM: medium none; HEIGHT: 20px; BACKGROUND-COLOR: #ffffff
}
.button50a {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; PADDING-LEFT: 11px; FONT-WEIGHT: normal; FONT-SIZE: 12px; BACKGROUND-IMAGE: url(../images/button50.gif); BORDER-LEFT: medium none; WIDTH: 50px; COLOR: #000000; PADDING-TOP: 2px; BORDER-BOTTOM: medium none; HEIGHT: 20px; BACKGROUND-COLOR: #ffffff
}
.textfield1 {
	BORDER-RIGHT: #7f9db9 1px solid; BORDER-TOP: #7f9db9 1px solid; BORDER-LEFT: #7f9db9 1px solid; BORDER-BOTTOM: #7f9db9 1px solid; HEIGHT: 17px
}
.textfield2 {
	BORDER-RIGHT: #7f9db9 1px solid; BORDER-TOP: #7f9db9 1px solid; BORDER-LEFT: #7f9db9 1px solid; WIDTH: auto; BORDER-BOTTOM: #7f9db9 1px solid; HEIGHT: 17px
}
.line3 {
	BORDER-RIGHT: #cccccc 1px solid;
	BORDER-LEFT: #cccccc 1px solid;
	BORDER-BOTTOM: #cccccc 1px solid;
	BACKGROUND-REPEAT: no-repeat;
	background-image: url(../images/leftTitleBg4.gif);

}
.ContentBoldRed2 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #ff0000; LINE-HEIGHT: 150%
}
.ListFont1 {
	font-size: 12px;
	line-height: 160%;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #E3E3E3;
	padding-right: 3px;
	padding-left: 3px;
	background-color: #FFFFFF;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #E3E3E3;

}
.titlebg1 {
	font-size: 12px;
	line-height: 160%;
	border-right-style: solid;
	border-bottom-style: none;
	padding-right: 3px;
	padding-left: 3px;
	background-color: #e8e8e8;
	border-top-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-left-style: solid;
	border-top-color: #FFFFFF;
	border-left-color: #FFFFFF;
	border-right-width: 1px;
	border-right-color: #E3E3E3;
	font-weight: normal;



}
.titlebg2 {
	font-size: 12px;
	line-height: 160%;
	border-right-style: none;
	border-bottom-style: solid;
	padding-right: 3px;
	padding-left: 3px;
	background-color: #F0F0F0;
	border-top-style: none;
	border-left-style: none;
	background-image: url(../images/leftTitleBg4.gif);
	border-bottom-width: 1px;
	border-bottom-color: #E3E3E3;
	height: 26px;
	font-weight: bold;




}
.titleSub2 {

	BORDER-RIGHT: #cecece 1px solid; BORDER-TOP: #ffffff 1px solid; PADDING-LEFT: 5px; FONT-WEIGHT: normal; FONT-SIZE: 12px; BORDER-LEFT: #ffffff 1px solid; COLOR: #333333; LINE-HEIGHT: 150%; BORDER-BOTTOM: #cecece 1px solid; HEIGHT: 22px; BACKGROUND-COLOR: #e1e1e1
}
.ListLine3 {

	BORDER-RIGHT: 1px solid #D1D1D1;
	PADDING-LEFT: 5px;
	FONT-WEIGHT: normal;
	FONT-SIZE: 12px;
	BORDER-LEFT: 1px solid #ffffff;
	COLOR: #333333;
	LINE-HEIGHT: 170%;
	BORDER-BOTTOM: 1px solid #D1D1D1;
	background-color: #FFFFFF;
}
.textarea2 {
	FONT-WEIGHT: normal;
	FONT-SIZE: 12px;
	WIDTH: auto;
	COLOR: #000000;
	HEIGHT: auto;
	BACKGROUND-COLOR: #ffffff;
	border: 1px groove #cccccc;

}
.titleSub3 {
	BORDER-RIGHT: 0px none #cecece;
	BORDER-TOP: 1px solid #ffffff;
	PADDING-LEFT: 5px;
	FONT-WEIGHT: normal;
	FONT-SIZE: 12px;
	BORDER-LEFT: 1px solid #ffffff;
	COLOR: #333333;
	LINE-HEIGHT: 150%;
	BORDER-BOTTOM: 0px none #cecece;
	HEIGHT: 18px;
	background-color: #A7C0DB;




}
.titleSub4 {
	BORDER-RIGHT: 0px none #cecece;
	BORDER-TOP: 1px solid #ffffff;
	PADDING-LEFT: 5px;
	FONT-WEIGHT: bold;
	FONT-SIZE: 24px;
	BORDER-LEFT: 1px solid #ffffff;
	COLOR: #333333;
	LINE-HEIGHT: 130%;
	BORDER-BOTTOM: 0px none #cecece;
	HEIGHT: 18px;
	background-color: #f2f2f2;
	letter-spacing: 5px;
	word-spacing: normal;

}
.ListLine4 {

	BORDER-RIGHT: #d7d7d7 1px solid;
	PADDING-LEFT: 5px;
	FONT-WEIGHT: normal;
	FONT-SIZE: 12px;
	BORDER-LEFT: #ffffff 1px solid;
	COLOR: #333333;
	LINE-HEIGHT: 170%;
	BORDER-BOTTOM: #d7d7d7 1px solid;
}
.contentBlack {
	FONT-WEIGHT: normal;
	FONT-SIZE: 12px;
	COLOR: #333333;
	LINE-HEIGHT: 170%;
	background-color: #f2f2f2;
	padding-left: 20px;

}
.titleSub5 {

	BORDER-RIGHT: 0px none #cecece;
	BORDER-TOP: 1px solid #ffffff;
	PADDING-LEFT: 20px;
	FONT-WEIGHT: bold;
	BORDER-LEFT: 1px solid #ffffff;
	COLOR: #333333;
	BORDER-BOTTOM: 0px none #cecece;
	HEIGHT: 18px;
	background-color: #D2D2D2;
}
.frameborder {
	background-image: url(../images/frameborder.gif);
	background-repeat: repeat-y;
	background-color: #FFFFFF;
}
.titleSub6 {

	BORDER-RIGHT: 1px solid #D1D1D1; BORDER-TOP: 1px solid #ffffff; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 12px; BORDER-LEFT: 1px solid #ffffff; COLOR: #000000; LINE-HEIGHT: 150%; BORDER-BOTTOM: 1px solid #D1D1D1; HEIGHT: 25px; BACKGROUND-COLOR: #DBEAF5
}
.titleSub7 {
	FONT-WEIGHT: bold;
	FONT-SIZE: 12px;
	COLOR: #225971;
	LINE-HEIGHT: 160%;
	background-color: #ececec;
	border-top-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-left-style: solid;
	border-top-color: #FFFFFF;
	border-left-color: #FFFFFF;
	text-align: left;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #C1CDD8;
	border-bottom-color: #C1CDD8;
	padding-left: 5px;
	height: 22px;



}
.titleSub8 {
	BORDER-RIGHT: 1px solid #9EB8D3;
	BORDER-TOP: 1px solid #DEE7F0;
	PADDING-LEFT: 5px;
	FONT-WEIGHT: normal;
	FONT-SIZE: 12px;
	BORDER-LEFT: 1px solid #DEE7F0;
	COLOR: #FFFFFF;
	LINE-HEIGHT: 150%;
	BORDER-BOTTOM: 1px solid #9EB8D3;
	HEIGHT: 22px;
	background-color: #799BCA;
	font-family: "ו";

}
.titleSub10 {
	font-size: 12px;
	font-weight: normal;
	color: #0000FF;

}
