.left {
    background-image: url('/images/main/left_02.jpg');
    background-repeat: repeat-x;
    height: 78px;
}

.right {
    background-image: url('/images/main/right_04.jpg');
    height: 78px;
}

.logo2 {
    background-image: url('/images/main/logo_03.jpg');
    height: 78px;
    background-repeat: no-repeat;
}

.nav1 { 
    background-repeat: repeat-x;
    height: 35px;
}

.shadow {
    background-image: url('/images/main/shadow_14.jpg');
    background-repeat: no-repeat;
    height: 16px;
}

.topNav {
    font-size: 10pt;
    font-family: "黑体";
    font-weight: bold;
}
