
A:visited {
	FONT-SIZE: 9pt; COLOR: black; TEXT-DECORATION: none
}
A:active {
	FONT-SIZE: 9pt; COLOR: black; TEXT-DECORATION: none
}
A:hover {
	FONT-SIZE: 9pt; COLOR: black; TEXT-DECORATION: none
}

TABLE.menu {
	FONT-SIZE: 9pt; MARGIN: 0px; FONT-FAMILY: ו; BACKGROUND-COLOR: #efefef
}
TABLE.inline {
	BORDER-RIGHT: #ffffff 2px inset; BORDER-TOP: #ffffff 2px inset; BORDER-LEFT: #ffffff 2px inset; BORDER-BOTTOM: #ffffff 2px inset
}

TD.default {
	BORDER-RIGHT: #ffffff 2px outset; PADDING-RIGHT: 2px; BORDER-TOP: #ffffff 2px outset; PADDING-LEFT: 2px; FONT-WEIGHT: bold; PADDING-BOTTOM: 2px; MARGIN: 5px 5px 0px; VERTICAL-ALIGN: bottom; BORDER-LEFT: #ffffff 2px outset; CURSOR: default; COLOR: black; PADDING-TOP: 4px; BORDER-BOTTOM: #efefef 1px solid
}

TD.menu {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: bottom; cursor:pointer; PADDING-TOP: 0px; BORDER-BOTTOM: #ffffff 2px inset
}
TD.outline {
	PADDING-RIGHT: 4px; BORDER-TOP: 0px; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; MARGIN: 0px; BORDER-LEFT: #ffffff 2px outset; PADDING-TOP: 6px; BORDER-BOTTOM: #ffffff 0px outset; HEIGHT: 2px
}

DIV.left {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: #ffffff 2px outset; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 2px 0px 0px; BORDER-LEFT: #ffffff 2px outset; PADDING-TOP: 2px; BORDER-BOTTOM: 0px	
}

DIV.right {
	BORDER-RIGHT: #ffffff 2px outset; PADDING-RIGHT: 0px; BORDER-TOP: #ffffff 2px outset; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 2px 0px 0px; BORDER-LEFT: 0px; PADDING-TOP: 2px; BORDER-BOTTOM: 0px
}

DIV.menu {
	BORDER-RIGHT: #ffffff 2px outset; PADDING-RIGHT: 0px; BORDER-TOP: #ffffff 2px outset; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 2px 0px 0px; BORDER-LEFT: #ffffff 2px outset; PADDING-TOP: 2px; BORDER-BOTTOM: 0px
}
